# 42184 Data Science for Mobility 
# 42577 Introduction to Business Analytics 
# Challenge 2019

In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 

# load the excek file into a pandas dataframe
df = pd.read_excel('/Users/zq/desktop/BA/HouseholdsData.xlsx')

In [21]:
# show the first five rows of the data
df.head()

,Hogar,EXCLUIR,paraValidacion,Sector,DirCoordX,DirCoordY,MontoArr,IngresoHogar,Factor,AnosEstudio,...,Acc_Habitacion_tpte_pub,Acc_Industria_tpte_pub,Acc_Servicios_tpte_pub,Acc_Comercio_auto,Acc_Educacion_auto,Acc_Habitacion_auto,Acc_Industria_auto,Acc_Servicios_auto,CLUSTER7,CLUSTER2
0,100010,0,0,7,335180.8019,6266420.975,100000,450845,136.393738,11,...,6110.62492,671.08681,719.84272,3036.41,1781.81,30505.65,2853.19,3058.03,3,1
1,100020,0,0,7,338410.2114,6265607.141,120000,1019369,73.843597,11,...,6110.62492,671.08681,719.84272,3036.41,1781.81,30505.65,2853.19,3058.03,3,1
2,100030,0,0,7,327863.8248,6257800.086,70000,80000,180.722809,10,...,6110.62492,671.08681,719.84272,3036.41,1781.81,30505.65,2853.19,3058.03,3,1
3,100041,0,0,7,327864.0000,6257800.000,80000,559259,150.379059,14,...,6110.62492,671.08681,719.84272,3036.41,1781.81,30505.65,2853.19,3058.03,3,1
4,100052,0,0,7,338480.8152,6267296.941,117771,710309,122.001518,12,...,6110.62492,671.08681,719.84272,3036.41,1781.81,30505.65,2853.19,3058.03,3,1

In [37]:
#show the variables of the dataset
df.head().T

,0,1,2,3,4
Hogar,1.000100e+05,1.000200e+05,1.000300e+05,1.000410e+05,1.000520e+05
EXCLUIR,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
paraValidacion,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Sector,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00
DirCoordX,3.351808e+05,3.384102e+05,3.278638e+05,3.278640e+05,3.384808e+05
DirCoordY,6.266421e+06,6.265607e+06,6.257800e+06,6.257800e+06,6.267297e+06
MontoArr,1.000000e+05,1.200000e+05,7.000000e+04,8.000000e+04,1.177710e+05
IngresoHogar,4.508450e+05,1.019369e+06,8.000000e+04,5.592590e+05,7.103090e+05
Factor,1.363937e+02,7.384360e+01,1.807228e+02,1.503791e+02,1.220015e+02
AnosEstudio,1.100000e+01,1.100000e+01,1.000000e+01,1.400000e+01,1.200000e+01
CLASE,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,2.000000e+00
Sup_Prom_Constr_Hab_EOD,5.380000e+01,5.960000e+01,5.950000e+01,5.950000e+01,4.360000e+01
Calid_EOD_norm_inv,9.800000e-01,9.800000e-01,9.800000e-01,9.800000e-01,9.800000e-01
DensConstr_EOD,5.900000e-02,3.300000e-02,4.000000e-03,4.000000e-03,8.600000e-02
Dist_est_Metro_MC_KM,2.305171e+01,2.108018e+01,3.414789e+01,3.414782e+01,1.990879e+01
Dist_salida_Autop_MC_KM,4.345179e+00,1.381521e+00,1.199339e+01,1.199327e+01,1.363177e+00
Tiempo_Com_Stgo,6.900000e+01,8.400000e+01,8.300000e+01,8.300000e+01,9.400000e+01
Ingreso_Promedio_Zona_MM,5.197647e-01,6.783170e-01,4.081582e-01,4.081582e-01,4.981400e-01
Acc_Comercio_tpte_pub,7.049764e+02,7.049764e+02,7.049764e+02,7.049764e+02,7.049764e+02
Acc_Educacion_tpte_pub,4.060983e+02,4.060983e+02,4.060983e+02,4.060983e+02,4.060983e+02
Acc_Habitacion_tpte_pub,6.110625e+03,6.110625e+03,6.110625e+03,6.110625e+03,6.110625e+03
Acc_Industria_tpte_pub,6.710868e+02,6.710868e+02,6.710868e+02,6.710868e+02,6.710868e+02
Acc_Servicios_tpte_pub,7.198427e+02,7.198427e+02,7.198427e+02,7.198427e+02,7.198427e+02
Acc_Comercio_auto,3.036410e+03,3.036410e+03,3.036410e+03,3.036410e+03,3.036410e+03
Acc_Educacion_auto,1.781810e+03,1.781810e+03,1.781810e+03,1.781810e+03,1.781810e+03
Acc_Habitacion_auto,3.050565e+04,3.050565e+04,3.050565e+04,3.050565e+04,3.050565e+04
Acc_Industria_auto,2.853190e+03,2.853190e+03,2.853190e+03,2.853190e+03,2.853190e+03
Acc_Servicios_auto,3.058030e+03,3.058030e+03,3.058030e+03,3.058030e+03,3.058030e+03
CLUSTER7,3.000000e+00,3.000000e+00,3.000000e+00,3.000000e+00,3.000000e+00
CLUSTER2,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

In [22]:
# show the length of the data
len(df)

18264

In [23]:
# show summary statistics of each column
df.describe()

,Hogar,EXCLUIR,paraValidacion,Sector,DirCoordX,DirCoordY,MontoArr,IngresoHogar,Factor,AnosEstudio,...,Acc_Habitacion_tpte_pub,Acc_Industria_tpte_pub,Acc_Servicios_tpte_pub,Acc_Comercio_auto,Acc_Educacion_auto,Acc_Habitacion_auto,Acc_Industria_auto,Acc_Servicios_auto,CLUSTER7,CLUSTER2
count,18264.000000,18264.000000,18264.000000,18264.000000,18264.000000,1.826400e+04,1.826400e+04,1.826400e+04,18264.000000,18264.000000,...,18264.000000,18264.000000,18264.000000,18264.000000,18264.000000,18264.000000,18264.000000,18264.000000,18264.000000,18264.000000
mean,193030.230672,0.121386,0.097624,3.821288,344588.546182,6.292533e+06,1.915436e+05,6.882743e+05,112.314389,9.776555,...,21511.475352,1802.578260,2566.220484,5883.914475,3389.102833,58147.204716,5073.627695,6307.223734,3.899365,1.152541
std,56198.257546,0.326585,0.296813,1.947325,10168.072922,1.075723e+04,1.642392e+05,7.287777e+05,74.540944,16.400822,...,10500.406467,1028.512477,1784.447506,1590.672555,857.208576,14062.171453,1298.025692,1930.571354,1.538586,0.359554
min,100010.000000,0.000000,0.000000,1.000000,284961.606500,6.257255e+06,1.000000e+04,0.000000e+00,5.151379,-99.000000,...,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,1.000000,1.000000
25%,145647.750000,0.000000,0.000000,2.000000,339344.339825,6.284990e+06,1.136745e+05,3.000000e+05,67.999544,10.000000,...,14151.468420,1038.710230,1108.934520,5081.660000,3062.360000,53163.070000,4508.790000,5091.160000,2.000000,1.000000
50%,192085.500000,0.000000,0.000000,4.000000,345972.971050,6.293280e+06,1.500000e+05,5.078265e+05,94.457756,12.000000,...,21174.908110,1636.453710,2098.910635,6099.830000,3538.740000,61218.910000,5267.610000,6452.625000,5.000000,1.000000
75%,237732.750000,0.000000,0.000000,6.000000,351634.072400,6.299760e+06,2.000000e+05,8.411012e+05,133.587433,14.000000,...,29922.656860,2526.666700,3595.939310,6980.430000,3989.947500,68388.830000,5980.780000,7699.100000,5.000000,1.000000
max,743823.000000,1.000000,1.000000,7.000000,380254.955500,6.327817e+06,5.000000e+06,1.480000e+07,927.142761,24.000000,...,44854.376160,4536.557030,7713.396150,8583.060000,4681.260000,75774.780000,7260.030000,10000.680000,7.000000,2.000000

In [24]:
# check the column types
df.dtypes

Hogar                         int64
EXCLUIR                       int64
paraValidacion                int64
Sector                        int64
DirCoordX                   float64
DirCoordY                   float64
MontoArr                      int64
IngresoHogar                  int64
Factor                      float64
AnosEstudio                   int64
CLASE                         int64
Sup_Prom_Constr_Hab_EOD     float64
Calid_EOD_norm_inv          float64
DensConstr_EOD              float64
Dist_est_Metro_MC_KM        float64
Dist_salida_Autop_MC_KM     float64
Tiempo_Com_Stgo               int64
Ingreso_Promedio_Zona_MM    float64
Acc_Comercio_tpte_pub       float64
Acc_Educacion_tpte_pub      float64
Acc_Habitacion_tpte_pub     float64
Acc_Industria_tpte_pub      float64
Acc_Servicios_tpte_pub      float64
Acc_Comercio_auto           float64
Acc_Educacion_auto          float64
Acc_Habitacion_auto         float64
Acc_Industria_auto          float64
Acc_Servicios_auto          float64
CLUSTER7                      int64
CLUSTER2                      int64
dtype: object

In [25]:
# check the data type in each column
for column in df.columns:
    print("Data type in {} is {}.".format(column,type(df[column][0])))

Data type in Hogar is <class 'numpy.int64'>.
Data type in EXCLUIR is <class 'numpy.int64'>.
Data type in paraValidacion is <class 'numpy.int64'>.
Data type in Sector is <class 'numpy.int64'>.
Data type in DirCoordX is <class 'numpy.float64'>.
Data type in DirCoordY is <class 'numpy.float64'>.
Data type in MontoArr is <class 'numpy.int64'>.
Data type in IngresoHogar is <class 'numpy.int64'>.
Data type in Factor is <class 'numpy.float64'>.
Data type in AnosEstudio is <class 'numpy.int64'>.
Data type in CLASE is <class 'numpy.int64'>.
Data type in Sup_Prom_Constr_Hab_EOD is <class 'numpy.float64'>.
Data type in Calid_EOD_norm_inv is <class 'numpy.float64'>.
Data type in DensConstr_EOD is <class 'numpy.float64'>.
Data type in Dist_est_Metro_MC_KM is <class 'numpy.float64'>.
Data type in Dist_salida_Autop_MC_KM is <class 'numpy.float64'>.
Data type in Tiempo_Com_Stgo is <class 'numpy.int64'>.
Data type in Ingreso_Promedio_Zona_MM is <class 'numpy.float64'>.
Data type in Acc_Comercio_tpte_pub is <class 'numpy.float64'>.
Data type in Acc_Educacion_tpte_pub is <class 'numpy.float64'>.
Data type in Acc_Habitacion_tpte_pub is <class 'numpy.float64'>.
Data type in Acc_Industria_tpte_pub is <class 'numpy.float64'>.
Data type in Acc_Servicios_tpte_pub is <class 'numpy.float64'>.
Data type in Acc_Comercio_auto is <class 'numpy.float64'>.
Data type in Acc_Educacion_auto is <class 'numpy.float64'>.
Data type in Acc_Habitacion_auto is <class 'numpy.float64'>.
Data type in Acc_Industria_auto is <class 'numpy.float64'>.
Data type in Acc_Servicios_auto is <class 'numpy.float64'>.
Data type in CLUSTER7 is <class 'numpy.int64'>.
Data type in CLUSTER2 is <class 'numpy.int64'>.

In [26]:
# check for empty strings in each column
for column in df.columns:
    print("" in df[column])

False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False

In [35]:
# check for NaNs
for column in df.columns:
    print("column {} has {} null value".format(column, df[column].isnull().sum()))

column Hogar has 0 null value
column EXCLUIR has 0 null value
column paraValidacion has 0 null value
column Sector has 0 null value
column DirCoordX has 0 null value
column DirCoordY has 0 null value
column MontoArr has 0 null value
column IngresoHogar has 0 null value
column Factor has 0 null value
column AnosEstudio has 0 null value
column CLASE has 0 null value
column Sup_Prom_Constr_Hab_EOD has 0 null value
column Calid_EOD_norm_inv has 0 null value
column DensConstr_EOD has 0 null value
column Dist_est_Metro_MC_KM has 0 null value
column Dist_salida_Autop_MC_KM has 0 null value
column Tiempo_Com_Stgo has 0 null value
column Ingreso_Promedio_Zona_MM has 0 null value
column Acc_Comercio_tpte_pub has 0 null value
column Acc_Educacion_tpte_pub has 0 null value
column Acc_Habitacion_tpte_pub has 0 null value
column Acc_Industria_tpte_pub has 0 null value
column Acc_Servicios_tpte_pub has 0 null value
column Acc_Comercio_auto has 0 null value
column Acc_Educacion_auto has 0 null value
column Acc_Habitacion_auto has 0 null value
column Acc_Industria_auto has 0 null value
column Acc_Servicios_auto has 0 null value
column CLUSTER7 has 0 null value
column CLUSTER2 has 0 null value

From the result, we can tell that there is no missing values in the dataset.